<div class="card-group">
  <div class="card">
    <app-home-card class="card-block bg-danger home-card" [heading]="'WildCards'" [link]="{linkUrl: '/search', icon: 'fa-microphone'}"></app-home-card>
  </div>
</div>
<div class="card-group">
  <div class="card">
    <app-home-card class="card-block bg-inverse home-card" [heading]="'We make projects'" [link]="{ linkUrl: '/project', icon: 'fa-cubes'}"></app-home-card>
  </div>
  <div class="card">
    <app-home-card class="card-block bg-success home-card" [heading]="'Experience'" [link]="{ linkUrl: '/experience', icon: 'fa-industry'}"></app-home-card>
  </div>
  <div class="card">
    <app-home-card class="card-block bg-primary home-card" [heading]="'Discover'" [link]="{ linkUrl: '/discover', icon: 'fa-cc-discover'}"></app-home-card>
  </div>
</div>
<div class="card">
  <app-home-card class="card-block bg-warning home-card" [heading]="'Signup'" [link]="{ linkUrl: '/signup', icon: 'fa-user-plus'}"></app-home-card>
</div>