<div class="card-group">
  <div class="card">
    <div class="card-block bg-danger">
      <h1 class="card-title text-white text-center text-uppercase font-weight-bold">WildCards</h1>
      <h4 class="card-subtitle text-white text-center font-weight-bold">in the details...</h4>
    </div>
  </div>
</div>
<div class="card-group">
  <div class="card">
    <div class="card-block bg-inverse">
      <h1 class="card-title text-white text-center text-uppercase font-weight-bold">We make projects</h1>
    </div>
  </div>
  <div class="card">
    <div class="card-block bg-success">
      <h1 class="card-title text-white text-center text-uppercase font-weight-bold">Experience</h1>
      <h4 class="card-subtitle text-white text-center font-weight-bold">in the details...</h4>
    </div>
  </div>
  <div class="card">
    <div class="card-block bg-primary">
      <h1 class="card-title text-white text-center text-uppercase font-weight-bold">Discover</h1>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-block bg-warning">
     <h1 class="card-title text-white text-center text-uppercase font-weight-bold">Signup</h1>
  </div>
</div>