<div class="card-group">
  <div class="card">
    <app-home-card class="card-block bg-danger" [heading]="'WildCards'" [showSubTitle]="true"></app-home-card>
  </div>
</div>
<div class="card-group">
  <div class="card">
    <app-home-card class="card-block bg-inverse" [heading]="'We make projects'" [showSubTitle]="false"></app-home-card>
  </div>
  <div class="card">
    <app-home-card class="card-block bg-success" [heading]="'Experience'" [showSubTitle]="true"></app-home-card>
  </div>
  <div class="card">
    <app-home-card class="card-block bg-primary" [heading]="'Discover'" [showSubTitle]="false"></app-home-card>
  </div>
</div>
<div class="card">
  <app-home-card class="card-block bg-warning" [heading]="'Signup'" [showSubTitle]="false" [link]="signUpLinks"></app-home-card>
</div>